div {
  text-align: center;
}
.d1 {
  text-align: right;
}
.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
 
}
.middle {
align-content: center;
}
